[submodule "lib/JUCE"]
	path = lib/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "lib/ScopedAlloc"]
	path = lib/ScopedAlloc
	url = https://github.com/eyalamirmusic/ScopedMemoryAllocations
